*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.containerHead{
    background: linear-gradient(to right,#B22222,#4682B4);
    width: 100%;
    height: 15%;
    max-height: 100%;
    min-height: 10%;  
}
.containerFoot{
    background: #808080;
    width: 100%;
    height: 25%;
    max-height: 100%;
    min-height: 10%;
    margin-top: 15%;  
}
.update{
    margin-left:75%;
    position:relative;
    color: #FFFFFF;
    font-size: 70%
}
.meDescrip{
    margin-left: 4%;
    margin-top: 1.5%;
    max-height: 100%;
    max-width: 100%;
    min-height: 5%;
    min-width: 5%;
    font-size: 85%;
    color: #FFFFFF;
    position: absolute;
}
.gitHub{
    margin-left: 4%;
    margin-top: 3.5%;
    max-height: 100%;
    max-width: 100%;
    min-height: 3%;
    min-width: 5%;
    font-size: 250%;
    color: #FFFFFF;
    position: absolute;
}
.linkedIn{
    margin-left: 7.5%;
    margin-top: 3.5%;
    max-height: 100%;
    max-width: 100%;
    min-height: 3%;
    min-width: 5%;
    font-size: 250%;
    color: #FFFFFF;
    position: absolute;
}
.lastPart{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    max-height: 100%;
    max-width: 100%;
    min-height: 5%;
    min-width: 5%;
    font-size: 85%;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
}
.covidImg img{
    list-style: none;
    max-height:100%;    
    font-size: 155%;
    cursor: pointer;
    object-fit: cover;
}
.container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
.container2{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    margin-top: 3%;    
}
.menu ul{
    display: inline-flex;
    max-width:50%;  
    margin-top: 1.75%;
    margin-bottom: 1.75%;
    margin-right: 5%;
    margin-left: 3%;
}
.menu li {
    list-style: none;
    max-width: 50%;     
    height: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: -43%;
    margin-left: 2%;
    font-size: 155%;
    cursor: pointer;
}
.logo img{
    max-width: 12%;
    max-height: auto;
    margin-top: -10%;
    margin-bottom: -3%; 
}
.btn {
    border: inherit;
    border-radius: 8%;
    background-color: #DCDCDC;
    padding: 0.7% 1.75%;
    font-size: 90%;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.75%; 
  }
  /* hover over */
  .btn:hover {background: #eee;}
  .left {color: rgb(0, 0, 0);}
  .right {color: rgb(0, 0, 0);}
.btnCent {
    border: inherit;
    border-radius: 8%;
    background-color: #DCDCDC;
    padding: 0.7% 5%;
    font-size: 90%;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.75%; 
    margin-left: 14%; 
  }
  /* hover over */
  .btn:hover {background: #eee;}
  .left {color: rgb(0, 0, 0);}
  .right {color: rgb(0, 0, 0);}
.line{  
    display: block; 
    margin-top: -0.5%;
    margin-bottom: 1%;
    overflow: hidden; 
    border-style: inset; 
    border-width: 2.3px;
    border-color: #4682B4;
}
.line2{  
    display: block; 
    margin-top: 5%;
    margin-bottom: -3%;
    overflow: hidden; 
    border-style: inset; 
    border-width: 2.3px;
    border-color: #DAA520;
}
.line3{  
    display: block; 
    margin-top:20%;
    margin-bottom: 0%;
    overflow: hidden; 
    border-style: inset; 
    border-width: 2.3px;
    border-color: #DAA520;
}
.note{
    background-color: inherit;
    margin-left: 68%;
    margin-bottom: -10%;   
    font-size: 45%;    
    cursor: pointer;
    display: inline-block;
}   
.banner{
    width: 100%;
    height: 100%;
    top: 25%;
    position: absolute;
    color: #DCDCDC;
}
.description{   
    border-width: 2px;    
    border-style: solid;
    border-color: #DAA520;    
    border-radius: 8%;
    background-color: inherit;
    padding: 0.4% 1%;
    font-size: 65%;
    margin-left: 3.9%;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FFF;
    border-style: solid;
    border-color: #DAA520;
    min-width: 30%;
    overflow: auto;
    box-shadow: 10% 10% 10% 10% rgba(0,0,0,0.2);
    margin-left:59.3%;
    margin-right:8.5%;
    margin-top:-1.5%;
    z-index: 1;
  }
.dropdown-content a{
    font-size: 85%;
    color: black;
    padding: 1.5% 1.5%;
    text-decoration: none;
    display: block;
}
.show {display:block;}
.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #FFF;
    border-style: solid;
    border-color: #DAA520;
    min-width: 30%;
    overflow: auto;
    box-shadow: 10% 10% 10% 10% rgba(0,0,0,0.2);
    margin-left:65%;
    margin-right:10%;
    margin-top:-3%;
    z-index: 1;
}
.dropdown-content2 a{
    font-size: 80%;
    color: black;
    padding: 1.5% 1.5%;
    text-decoration: none;
    display: block;
}
.show2 {display:block;}
.blank{
    margin-top: 40.5%;
}
.blank2{
    margin-top: 41.5%;
}
.blank3{
    margin-top: 35%;
}


